:root{
  line-height: 150%;
  color: #573A37;
}
body{
  background-image: url(assets/bg-image.jpg);
  background-size: cover;
}
div#container{ 
  background-color: #F0E8C2;
  width: 800px;
  padding: 24px;
  border-radius: 24px;
  margin: 48px auto;
  box-sizing: border-box;
}
main{

  
}
p{
  111
  font-size: 16px;
  font-family: "Alice", serif;
}
img{
 
  
  border-radius: 16px;
}
#about{
  
}
h1{
  font-family: "Alice", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 140%;
  color: #573A37;
}
h2{
  font-size: 24px;
  font-family: "Alice", serif;
  color: #573A37;
}
