body{
  background-image: url(assets/bg-image.jpg);
  background-size: cover;
}
div#container{ 
  background-color: #F0E8C2;
  width: 800px;
  padding: 24px;
  border-radius: 24px;
  margin: 48px auto;
  height: 1440px;
  box-sizing: border-box;
}
main{
  width: 752px;
  height: 968px;
}
p{
  text-align: left;
}
img{
  text-align: center;
  width: 752px;
  height: 400px;
  border-radius: 16px;
}
#about{
  
}